
.holder-center {
   
    display: flex;
    flex-wrap: wrap;
  }
  
 
  
  .item:nth-child(1) {
    background-color: red;
    width: 50%;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
  }
  
  .item:nth-child(2) {
    background-color: orange;
    width: 45%;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
  }
  
  .item:nth-child(5) {
    background-color: rgb(13, 0, 128);
    width: 30%;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
  }
  
  .item:nth-child(3) {
    background-color: rgb(183, 0, 255);
    width: 30%;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
  }
  
  .item:nth-child(4) {
    background-color: rgb(0, 255, 13);
    width: 30%;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
  }
  
  